afilio_credentials.txt
/bin
/recommendit.static
/.classpath
/.project
/.settings
target
cfg.json
*~
montado.html
.settings
.project
.classpath
target
*.py[ceo]
*.pydevproject
/build
/vEnv
/.gradle
dist
*.egg-info
*.swp
build
.ropeproject
*.pid
src/main/py/recommendit/config/recommendit.json
.vagrant/
.idea/
nohup.out
*.py[oec]
